.Form {
    border: none;
    border-bottom: 2px  #555555 solid;
}
  
.Button {
    border: none;
    background-color:  #555555;
    color: white;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    margin: 5px;
}
  
.Button:hover {
    cursor: pointer;
    background-color: white;
    color: #242a3d;
}