.Footer {
    height: 100px;
    background-color: #3e40465d;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer p {
    color: #cfced3;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

.Footer a {
    color: #cfced3;
    font-size: 1,3rem;
    text-align: center;
    padding: 10px;
}