.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
}
  
.Absolute {
    right: 0;
    z-index: 99;
    align-items: center;
    justify-content: center;

}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; 
}
