.NavBar {
    background-color: #3e404698;
    align-items: center;
    display: flex;
  }

.NavBar a {
    color: #cfced3;
    text-decoration: none;
    padding: 10px;
    transition: color ease-in-out 0.3s;
}

.NavLink {
    color: #cfced3;
    padding: 5px;
    transition: color ease-in-out 0.3s;
}

.NavLink:hover {
    color: #fff;
}

.Container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Center {
  display: flex;
  justify-content: center;
  width: 100%;
}


.Block {
  height: 50px;
}

#basic-navbar-nav {
  padding: 10px;
}