.RowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 100px;
}
  
.Col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
@media all and (width: 1024px), all and (height: 600px) {
    .RowContainer {
      margin-top: 100px;
    }
}

.Page {
    filter: grayscale(0.2);
  }
  
.Page img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1, 0.1);
  }