.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}
  
.Post figure,
  h5 {
    margin: 10 0;
}
  
.Heart {
    color: #c0331a;
}
  
.Heart:hover {
    color: #2142b2;
}
  
.HeartOutline:hover {
    color: #c0331a;
}

.a {
    text-decoration: none;
    color: black;
}