@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.App {
    font-family: 'DM Sans', sans-serif;
    background-color: #3e40465d;
    min-height: 100vh;
}
  
* {
    box-sizing: border-box;
}

.Main {
    padding-top: 81px;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
  

.Brand {
    cursor: pointer;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
  
.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.input[type="file"] {
    display: none;
  }

.figure {
    text-align: center;
    display: inline-block;
  }